{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'codered/assets/favicon.ico' %}" />
<!-- Bootstrap icons-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="{% static 'codered/css/styles.css' %}" rel="stylesheet" />
<!-- person -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
    .hello-msg{
        font-size: 20px;
        color: rgb(0, 0, 0);
        margin-right:20px;  
    }
    .material-icons {
        vertical-align:-1400%;
        color: rgb(0, 0, 0);
        margin-right:20px;  
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">ShoesKart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
            </ul>
            <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'profile' %}">Profile</a></li>
            </ul> -->

            <!-- <span class="hello-msg">Hello {{request.user}}</span> -->
            
            <a href="{% url 'profile' %}" class="material-icons">person</a>
            <a href="{% url 'logout' %}" class="btn btn-outline-danger" role="button" aria-pressed="true">
                Logout
            </a>
            <!-- cart================================================= -->
            <!-- <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>

                </button>
            </form> -->
        </div>
    </div>
</nav>
{% block content %}{% endblock %}